# Ignore build tools and configs
tsconfig.json
src/
tests/
.vscode/
.env
.env.*
.nyc_output
coverage/
jest.config.js

# Ignore build artifacts and temp files
*.log
*.ts
*.map
dist/**/*.map

# Ignore OS and editor files
.DS_Store
Thumbs.db
.idea/
node_modules/
